

body{
    margin: 0;
   
}
.squid__game{
    background-color: black;
    width: 100vw;
    height: 100vh;
   
    
}
.squid-game__nav{
    display: grid;
    grid-template-columns: 20% 40% 10%;
    grid-column-gap: 15%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    justify-items: center;
    align-items: center;
}
.squid-game__nav img:last-child{
    justify-self: start;
}
.squid-game__nav img:last-child{
    justify-self: end;
}
.squid-game__main{
    margin-left: 4%;
    height: 75vh;
    background-image: url('imgs/bg.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
   
}
.sg-main__description, .sg-main__right{ 
    margin-top: 10%;
    margin-right: 5%;
}
.sg__main-title{
    width: 60%;
    background: linear-gradient(265.95deg, #FFFFFF -15.55%, #E93E7D 123.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
   
}
.sg__card{
    display: flex;
    flex-direction: row;

}
.sg__card-img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.card__img{
    padding-top: 15px;
}
.sg__card-text{
    width: 40%;
    padding-left: 3%;
    font-family: 'Roboto';
font-size: 22px;
font-weight: 400;
line-height: 26px;

}
.sg__main-text{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
