@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
body {
  margin: 0;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.shield {
  width: 80vw;
  height: 80vh;
}
.shield-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.shield-nav__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shield-btn {
  background-color: #0098FF;
  color: #FFFFFF;
}