body {
    padding-left: 145px;
    padding-right: 5vw;
}
.container {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    margin-top: 42px;
}

.header__logo {
    width: 25%;
    float: left;
}

.header__menue {
    width: 60%;
    float: right;
}

.menue__links{
    float: left;
}

.menue__links li {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}

.menue__btns {
    float: right;
}

.menue__btn {
    height: 45px;
    width: 110px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-succes {
    border: 1px solid #BCD0E5;
    color: #173A56;
}

.btn-alert {
    background-color: #FF9900;
    color: white;
} 
.top {
    padding-top: 131px;
    width: 1126px;
    height: 496px;
}
.top__left {
    width: 45%;
    padding-top: 40px;
    float: left;
}
.left__content h2 {
font-family: Poppins;
font-size: 44px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0px;
text-align: left;

}
.left__content p {
    width: 360px;
    height: 95px;
    color:  #544837;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

}

.tl__btn {
    height: 53px;
    width: 175px;
    border: none;
    border-radius: 5px;
    background-color: #FF9900;
    color: white;
}
.tl__arrow {
    padding-left: 30px;
}
.tl__link {
    color: #FF9900;
}
.top__right{
    width:50%;
    float: right;
}
.top__img {
    margin-left: 63px;
    float: right;
    width: 605px;
    height: 496px;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}
button{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.fa-play{
    padding-left: 10px;
    padding-right: 10px;
    color: #FF9900;
}
.title {
    color: #2f281e;
}
.tools{
    padding-top: 110px;
}

.tools__title{
    text-align: center;
    max-width: 539px;
    margin: 0 auto 46px;
    margin-bottom: 46px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}
.tools__item-title{
font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
text-align: left;

}
.tools__items{
    display: flex;
    justify-content: space-between;
}
.tool__item{
    max-width:240px ;
    height: 148px;
}
.fa-arrow-pointer{
    color: white;
    border: 1px solid rgb(58, 17, 58);
    padding: 20px 25px;
     background-color: rgb(73, 19, 73);
     border-radius: 20px;
     box-shadow: 3px 10px 5px rgb(63, 38, 63);
}
.fa-check-double{
    color: white;
    border: 1px solid rgb(201, 174, 53);
    padding: 20px 25px;
     background-color: rgb(201, 174, 53);
     border-radius: 20px;
     box-shadow: 3px 10px 5px rgb(75, 65, 19);

}
.fa-heart{
    color: white;
    border: 1px solid rgb(147, 34, 34);
    padding: 20px 23px;
     background-color: rgb(147, 34, 34);
     border-radius: 20px;
     box-shadow: 3px 10px 5px rgb(62, 14, 14);
}
.fa-hourglass{
    color: white;
    border: 1px solid rgb(39, 83, 177);
    padding: 20px 25px;
     background-color: rgb(39, 83, 177);
     border-radius: 20px;
     box-shadow: 3px 10px 5px rgb(13, 29, 64);
}

.footer__inner {
    padding: 102px 0 100px;
    border-top:1px solid #BCD0E57F;
    display: flex;
    justify-content: space-between;
}

.logo__img{
    width: 185px;
    height: 32px;
}
.footer{
    margin-top: 200px;
}
.footer__menu {
    margin-top: -45px;
}
.footer__form-text{
    margin-top: -10px
}
.footer__menu-title ,
.footer__form-text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #2f281e;
}
.footer__list {
    list-style: none;
}
.footer__menu-link{
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    text-decoration: none;
}
.footer__menu-title{
padding-left: 35px;
}
.footer__form{
    width: 330px;
}

.footer__form-input{
   padding: 0 15px;
   height: 48px;
   border: 1px solid #bcd0e5; 
   border-radius: 4px;
   width: 89%;
   margin-bottom: 21px;
   display: inline-block;
}
.footer__form-input::placeholder{
    color: #bcd0e5;
    font-size: 16px;
    line-height: 28px;
}
.footer__form-btn{
    padding: 8px 15px 7px;
    border: none;
    background-color: #ff9900;
    color: #fff;
    border-radius: 4px;
}